@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --cor0: #292929;
    --cor1: #323233;
    --cor2: #383a387e;
    --cor3: #252525d3;
    --cor4: #008000; 
    --cor5: #ffff;
    --cor6: #f33e08f8;
    --cor7: #48f115f8;
    --font: "Montserrat", sans-serif;
}
body{
    background-color: var(--cor0);
    font-family: var(--font);
}

h1{
    color: var(--cor5);
    margin: 8px;
    padding: 2px;
    text-align: center;
    font-size: 2em;
    font-weight:bolder;
    text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.28);
}

form{
    height: 130px;
    width: 360px;
    padding: 12px;
    margin: 100px auto;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--cor1);
    box-shadow: 0.5px 0.5px 10px rgba(15, 19, 15, 0.466) ;
}

#inSenha{
    outline: 0; 
    padding: 10px;
    color: var(--cor5);
    border-radius: 3px;
    border: solid 2px  rgb(12, 12, 12, 0.58) ;
    background-color: rgb(12, 12, 12, 0.58);;
}
#btnMostrar:hover{
    transition: 0.5s;
    color: var(--cor5);
    background-color: var(--cor2);
}
#btnMostrar{
    width: 80px;
    padding: 10px;
    font-weight: 400;
    color: var(--cor5);
    border-radius: 3px;
    border: solid 2px  rgb(12, 12, 12, 0.58) ;
    background-color: rgb(12, 12, 12, 0.58);;
}
#regras{
    width: 360px;
    margin: auto;
    padding: 10px;
    border-radius:  0px 0px 10px 10px;
    box-shadow: 0.5px 0.5px 10px rgba(15, 19, 15, 0.466) ;
    background-color: var(--cor1);

}
#regras > ul > li { 
    list-style: none;
    padding: 2px;
    margin: 2px;

 
    text-align: left;
    font-weight: 500;
    font-size: 0.4em;    
    font-family: var(--font);

}
.list_success{
    color: var(--cor7);
}
.list_erro{
    color: var(--cor6);
}